sudo: required


os:
  - linux

language: c
dist: xenial
services:
  - xvfb


matrix:
  include:
    # Build and test against the master (stable) and devel branches of Nim
    # Build and test using both gcc and clang
    - os: linux
      env: CHANNEL=stable
      compiler: gcc

    - os: linux
      env: CHANNEL=devel
      compiler: gcc

cache:
  directories:
    - "$HOME/.nimble"
    - "$HOME/.choosenim"

addons:
  firefox: "60.0.1"
  apt:
        packages:
                - libgtk-3-dev
                - libwebkit2gtk-4.0-dev

install:
  - curl https://nim-lang.org/choosenim/init.sh -sSf > init.sh
  - sh init.sh -y
  - export PATH=$HOME/.nimble/bin:$PATH
  - nimble refresh -y
  - choosenim $CHANNEL

script:
  # set firefox as default browser. Otherwise google-chrome is picked for some
  # reason
  - export BROWSER=firefox
  - nimble install -y
  - nimble -y travisTest
